#current-calibration-factor {
  white-space: nowrap;
}

#calibration-form .field {
  margin-top: 1rem;
}

#calibration-form .buttons {
  margin-top: 1rem;
}

#calibration-list {
  margin-top: 1rem;
  list-style-type: none;
  padding-left: 0;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #154d67 !important;
}

.summary-row {
  background-color: hsl(0, 0%, 29%);
}

@keyframes button-success {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.button.is-success.is-animated {
  animation: button-success 2s ease-in-out;
}

