main {
  background-color: black;
  display: flex;
  justify-content: center;
}

.section {
  max-width: 800px;
  padding: 1rem 1rem 3rem;
}

.button {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

p {
  margin-bottom: 1.5rem;
}

h2, h3 {
  margin-top: 1.5rem;
}