#statusMessage {
  margin-bottom: 1.5rem;
  min-height: 3rem;
  /* Ensures space for two lines of text */
  display: flex;
}

#calibrationBox .field {
  margin-top: 1rem;
}

#calibrationBox .buttons {
  margin-top: 1rem;
}

#calibrationList {
  margin-top: 1rem;
  list-style-type: none;
  padding-left: 0;
}

tr.selectable:hover {
  background-color: #f0f0f0;
  /* Light grey, adjust color as needed */
  cursor: pointer;
}

#calibrationSummary:hover {
  background-color: #e0e0e0;
  /* Slightly darker grey, adjust color as needed */
  cursor: pointer;
}

.selectable.selected,
#calibrationSummary.selected {
  background-color: #d0ffd0;
  /* Light green, indicating selection */
}

.pulse-display {
  padding: 5px 10px;
  background-color: #444;
  /* Dark background for display */
  color: #ddd;
  /* Light text color for contrast */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 1rem;
  /* Adequate font size for readability */
  margin-bottom: 0.5rem;
  /* Spacing between elements */
}

/* Additional styles to visually separate the display from input fields */
.pulse-display:not(:last-child) {
  margin-bottom: 10px;
}

.pulse-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.pulse-label {
  margin-right: 1rem;
}

.pulse-display {
  flex-basis: 10rem;
  text-align: right;
  flex-grow: 0;
  /* Prevent the item from growing */
  flex-shrink: 1;
  /* Allow the item to shrink */
  min-width: 5rem;
  /* Set a minimum width to prevent it from becoming too small */
}

.icon-text {
  flex-wrap: nowrap;
}

.icon-text .icon:not(:last-child) {
  margin-right: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  max-width: 800px;
  padding: 1rem 1rem 3rem 1rem;
}

#scalingFactorContainer {
  padding: 0 0;
}

#scalingFactorTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1rem 1.25rem;
}

#currentScalingFactor {
  padding: 5px 1.5rem;
  text-wrap: nowrap;
}